$white: #FFFFFF;
$primary-color: #2F4DA6;
$secondary-color: #00DEBC;
$background-color: #F0F4FD;
$highligh-blue-color: #3192D9;
$blue-to-green-gradient: linear-gradient(180deg, rgba(49, 146, 217, 1) 0%, rgba(0, 222, 188, 1) 100%);
$text-gray-color: #656565;