@import './helpers/variables';
@import './helpers/mixins';
@import './globals/globals';


// Components

@import './components/header';
@import './components/hero-section';


// CSS

.circle-drawing {
    position: relative;
    display: inline-block;
}

.circle-drawing::before {
    content: "";
    background-image: url(../../dev/assets/icons/circle-drawing.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 202px;
    height: 91px;
    position: absolute;
    top: -24px;
    right: -36px;
    z-index: -1;
}