.text-white {
    color: $white;
}

.text-gray {
    color: $text-gray-color;
}

.text-primary {
    color: $primary-color;
}

.text-primary-bold {
    color: $primary-color;
    font-weight: bold;
}

.text-secondary {
    color: $secondary-color;
}