.features-section {
    .feature {
        min-height: 285px;
        margin-top: -90px;
        z-index: 1;
        position: relative;
        background-color: $background-color;
        padding: 1.5rem 3rem;
        border-radius: 2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        text-align: center;
        margin-bottom: 2rem;

        h1 {
            color: $primary-color;
        }

        hr {
            border: 2px solid $highligh-blue-color;
        }

        p {
            color: $text-gray-color;
        }
    }
}

@media (max-width: 767px) {
    .features-section {
        .feature {
            margin-top: 1rem;
        }
    }
}